@page "/"

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Convert Open API to API Document </h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <h1 class="text-center">What do you have?</h1>
      <p>
        <a href="fileupload" class="btn btn-primary my-2">Json file</a>
        <a href="resourceurl" class="btn btn-secondary my-2">Swagger URL</a>
      </p>
    </div>
  </section>
</main>